body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f4f7ff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 50px;
}

.btn {
  background: white;
  color: #4f46e5;
  padding: 12px 20px;
  border-radius: 30px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

.btn-outline {
  border: 2px solid white;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  text-decoration: none;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  background: white;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.dark {
  background: #111827;
  color: white;
}

/* CARDS */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.dark .card {
  background: #1f2937;
  color: white;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}